.width-20 {
    width: 20%;
}

body {
    background-image: url('../images/background.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

textarea {
    resize: none;
}

footer {
    position:fixed;
    bottom:0;
    width: 100%;
}
